# .npmrc
strict-peer-dependencies=false
auto-install-peers=true

    اگر نسخه peer dependency تطابق نداشته باشد: package manager به جای خطا دادن، فقط هشدار می‌دهد (strict-peer-dependencies=false).

    هنگام نصب یک package: سعی می‌کند peer dependenciesهای آن را به طور خودکار نصب کند (auto-install-peers=true).

به مثال react-select برمی‌گردیم. وقتی شما react-select را نصب می‌کنید، package manager فقط خود react-select را نصب می‌کند. اما به شما هشدار می‌دهد که: "هی، تو react را که من برای کار کردن لازم دارم، نصب نکردی!"

این یعنی شما باید به صورت دستی react را نیز نصب کنید.

    اگر auto-install-peers=false باشد (حالت پیش‌فرض): شما باید خودتان به صورت دستی تمام peer dependencies را به پروژه اضافه کنید.

    اگر auto-install-peers=true باشد: package manager به طور خودکار هنگام نصب react-select، react را نیز در پروژه شما نصب می‌کند.
